<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <p class="errrorContent">We are sorry. Something wrong happened.</p>
                <p class="errrorContent">Here is error message: </p>
                <p id="bottomError" class="errrorContent">{{errorMessage}}</p>
            </div>
        </div>
    </div>
</section>